openapi: 3.1.0
info:
  version: 1.0.0
  title: AquaTrack app
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  description: This is a documentation of AquaTrack app
tags:
  - name: Auth
    description: Auth endpoints.
  - name: Users
    description: Users endpoints.
  - name: Water
    description: Water endpoints.
servers:
  - url: https://project-digitalteam-backend.onrender.com/
paths:
  /users/register:
    post:
      $ref: ../swagger/paths/users/register.yaml
  /users/login:
    post:
      $ref: ../swagger/paths/users/login.yaml
  /users/reset-password:
    post:
      $ref: ../swagger/paths/users/reset-password.yaml
  /users/refresh-token:
    post:
      $ref: ../swagger/paths/users/refresh-token.yaml
  /users/logout:
    post:
      $ref: ../swagger/paths/users/logout.yaml

  /users/current:
    get:
      security:
        - bearerAuth: []
      $ref: ../swagger/paths/users/get.yaml
  /users/update:
    patch:
      security:
        - bearerAuth: []
      $ref: ../swagger/paths/users/patch.yaml
  /users/avatar:
    patch:
      security:
        - bearerAuth: []
      $ref: ../swagger/paths/users/patch-avatar.yaml
  /users/count:
    get:
      $ref: ../swagger/paths/users/count.yaml
  /water/add:
    post:
      security:
        - bearerAuth: []
      $ref: ../swagger/paths/water/post.yaml
  /water/daily:
    get:
      security:
        - bearerAuth: []
      $ref: ../swagger/paths/water/daily/get.yaml
  /water/monthly:
    get:
      security:
        - bearerAuth: []
      $ref: ../swagger/paths/water/monthly/get.yaml
  /water/{id}:
    patch:
      security:
        - bearerAuth: []
      $ref: ../swagger/paths/water/{id}/patch.yaml
    delete:
      security:
        - bearerAuth: []
      $ref: ../swagger/paths/water/{id}/delete.yaml
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
